.myorder{
    border: 1px solid rgb(233, 164, 95);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}